**
!src/
!src/**
!configs/
!configs/fso-multihost.json
!testbeds/
!testbeds/multihost/
!testbeds/multihost/Dockerfile
!testbeds/multihost/requirements.txt
src/**/__pycache__/
src/**/*.pyc
src/*.egg-info/
src/**/*.egg-info/
